# Mac metadata file
.DS_Store

# Pycache 
__pycache__/*

# Jupyter notebook checkpoints 
.ipynb_checkpoints
*/.ipynb_checkpoints/**

# Anything in data folder or any netcdf file. Allow results and figures. 
data
!data/results/*
!data/figs/*
*.nc 
*/*.nc

# Rout files 
*.Rout

# slurm files 
*slurm*
