# Mac metadata file
.DS_Store
/*.DS_Store/**

# Pycache 
__pycache__/*

# Jupyter notebook checkpoints 
.ipynb_checkpoints
*/.ipynb_checkpoints/**

# Anything in data folder or any netcdf file. Allow figures
data/*
!data/*/.gitkeep
!data/figs/
!cal_cities_lat_long.csv
*.nc 
*/*.nc

# Unwanted R files
.Rdata
.Rhistory
*.Rout

# slurm files 
*slurm*
