# Mac metadata file
.DS_Store
/*.DS_Store/**

# Pycache 
__pycache__/*

# Jupyter notebook checkpoints 
.ipynb_checkpoints
*/.ipynb_checkpoints/**

# Don't add any netcdf files!
*.nc 
*/*.nc

data/*
!data/cal_cities_lat_long.csv
!data/README.md 
!data/*/.gitkeep

# Unwanted R files
.Rdata
.Rhistory
*.Rout

# slurm files 
*slurm*
